html
  head
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.4/css/bulma.min.css")
    link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous")
    //- link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/fontawesome.css" integrity="sha384-4aon80D8rXCGx9ayDt85LbyUHeMWd3UiBaWliBlJ53yzm9hqN21A+o1pqoyK04h+" crossorigin="anonymous")
    style.
      html {
        height: 100%;
      }
      
      body {
        min-height: 100%;
      }

      body.grey {
        background-color: hsl(0, 0%, 96%);
      }

      .article .article-body p {
        padding-bottom: 1em;
      }

      ins, del {
        padding: 0 0.2rem;
        border-radius: 0.2rem;
      }

      ins {
        background-color: #acf2bd;
        text-decoration: none;
      }

      del {
        background-color: #fdb8c0;
      }

      .mb-2 {
        margin-bottom: 0.5rem;
      }

      .mb-4 {
        margin-bottom: 2rem;
      }

      form {
        margin: 0;
      }

      .article-list .article {
        padding: 0.5rem 1rem;
        text-decoration: none;
        color: hsl(0, 0%, 4%);
      }

      .article-list .article:hover {
        background-color: hsl(0, 0%, 96%);
      }

      .article-list li:not(:last-child) {
        border-bottom: 1px solid hsl(0, 0%, 86%);
      }

      .item-section + .item-section {
        margin-left: 1rem;
      }

      .item-side {
        flex: 0 0 auto;
        min-width: 1rem;
      }

      .item-main {
        flex: 1 1 auto;
      }

      .ellipsis {
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
      }

      .card-list-content {
      }

  body(class=greyBody ? 'grey' : '')
    section(class="section")
      .container
        block content
    script(src="https://code.jquery.com/jquery-3.3.1.min.js")
    script.
      let shouldHide = true
      $("del").each(function(index) {
        const $this = $(this);
        const content = $this.html();
        $this.empty();
        $this.append('<span>' + content + '</span>');
        $this.find('span').hide();
        $this.on('mouseover', function(){
          const $this = $(this).find('span').show();
        });
        $this.on('mouseout', function(){
          if (shouldHide) {
            const $this = $(this).find('span').hide();
          }
        });
      });
      $('#check').change(function() {
        $this = $(this);
        if ($this.is(':checked')) {
          shouldHide = false
          $("del > span").show();
        } else {
          shouldHide = true
          $("del > span").hide();
        }
      });