extends layouts/app.pug

block content
  .columns
    .column.is-4
      .card.mb-2
        .card-content
          label(class="checkbox")
            input(type="checkbox" name='check' id="check")
            | Mostrar todas as partes deletadas
          p
            small (Você também pode passar o mouse por cima para visualizar)
      .card
        .card-content
          p.mb-2 Link: #[a(href=originalArticle.link)= originalArticle.link]
          if originalArticle.diffsCount == 0
            p.mb-2 Não foram detectadas edições.
          else if originalArticle.diffsCount == 1
            p.mb-2 1 edição detectada.
          else if originalArticle.diffsCount > 1
            p.mb-2 #{originalArticle.diffsCount} edições detectadas.
          each edit in originalArticle.diffs
            p #{edit.created.toLocaleDateString()} - #{edit.created.toLocaleTimeString('pt-BR')}
    .column
      h1.title.is-2!= renderedDiff.title
      p.subtitle!= renderedDiff.description
      .article
        .article-body!= renderedDiff.body