extends layouts/app.pug

block content
  h1.is-size-1.has-text-centered.mb-4 Edições
  .card.mb-4
    .card-content
      form(action="/pesquisar")
        .field
          p.control.has-icons-left
            input.input(type="text" name="titulo" placeholder="Pesquisar artigos por título")
            span.icon.is-left
              i.fas.fa-search
  .card.mb-4
    .card-header
      p.card-header-title Artigos recém editados
    .card-list-content
      ul.article-list
        each article in articles.latestEdit
          li
            a(href="/article/"+article._id)
              div.article.is-flex
                .item-section.item-side.has-text-grey= article.portal
                .item-section.item-main.ellipsis= article.title
                .item-section.item-side.has-text-right.has-text-grey #{moment(article.lastEditedAt).fromNow()}
  .card
    .card-header
      p.card-header-title Artigos mais editados
    .card-list-content
      ul.article-list
        each article in articles.mostEdited
          li
            a(href="/article/"+article._id)
              div.article.is-flex
                .item-section.item-side.has-text-grey= article.portal
                .item-section.item-main.ellipsis= article.title
                .item-section.item-side.has-text-right.has-text-grey #{article.diffsCount} edições