extends layouts/app.pug

block content
  .card.mb-4
      .card-header
        p.card-header-title Resultados da busca
      if articles.length
        .card-list-content
          ul.article-list
            each article in articles
              li
                a(href="/article/"+article._id)
                  div.article.is-flex
                    .item-section.item-side.has-text-grey= article.portal
                    .item-section.item-main.ellipsis= article.title
                    .item-section.item-side.has-text-right.has-text-grey
                        span= article.diffsCount
                        | &nbsp;
                        i.fas.fa-pencil-alt
      else
        .card-content
          p Nenhum artigo encontrado